@charset 'utf-8';

@use 'sass/pages/home';
@use "sass/pages/restaurant";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 40px;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

// .scroller {
//   height: 100vh;

//   overflow-y: scroll;
//   scroll-snap-type: y mandatory;
// }

// .scroller section {
//   scroll-snap-align: start;
// }
