@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$quaternary-color: #303030; //FIXME valable?

$fs1: 18px;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-cursive: 'Shrikhand', cursive;

$normal: 400;
$bold: 700;
$light: 300;

body,
html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: $font-family-sans-serif;
  font-size: inherit;
  user-select: none;
}

@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

.logo {
  margin: auto;
  @include flex();
  justify-content: center;
  width: 200px;
  & img {
    width: 100%;
  }
}

// h1 {
//   font-family: $font-family-cursive;
// }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 40px;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

.btn {
  box-shadow: 3px 5px 10px #ddd;
  padding: 16px 25px;
  border-radius: 25px;
  background-color: color.scale($quaternary-color, $lightness: 97%);
}

header {
  /*TODO transition NF*/
  @include flex($direction: column);
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 25px 0 20px;
  box-shadow: 3px 5px 10px color.scale($quaternary-color, $lightness: 70%);
  background-color: white;
}

.container {
  margin-top: 85px;
}

.location {
  @include flex();
  gap: 20px;
  justify-content: center;
  background-color: color.scale($quaternary-color, $lightness: 90%);
  padding: 18px;
  font-weight: bold;
}

.description {
  @include flex($direction: column);
  background-color: color.scale($quaternary-color, $lightness: 95%);
  padding: 40px 40px 70px;
  gap: 15px;
  text-align: center;
  &__title {
    font-size: calc($fs1 * 1.5);
  }
  &__text {
    font-weight: $light;
    font-size: calc($fs1 * 1.1);
  }
  &__btn {
    border-radius: 50px;
    margin-top: 20px;
    background-image: linear-gradient(165deg, $secondary-color, $primary-color);
    color: white;
  }
}

.howItWorks {
  @include flex($direction: column);
  gap: 30px;
  padding: 50px 15px 80px;
  &__title {
    align-self: start;
    font-size: calc($fs1 * 1.5);
  }
  &__btn {
    @include flex();
    width: 100%;
    position: relative;
    padding: 30px 40px;
    font-weight: $bold;
    gap: 30px;
    &-icon {
      color: #666;
    }
    &_active {
      background-color: color.scale(
        $primary-color,
        $lightness: 90%
      ); //FIXME couleur exacte?
      &-icon {
        color: $primary-color;
      }
    }
  }
  &__step {
    @include flex();
    justify-content: center;
    position: absolute;
    left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: $primary-color;
  }
}

.restaurants {
  background-color: color.scale($quaternary-color, $lightness: 96%);
  @include flex($direction: column);
  gap: 20px;
  padding: 50px 15px 80px;
  &__title {
    align-self: start;
    font-size: calc($fs1 * 1.5);
  }
}

.restaurant-card {
  background-color: white;
  position: relative;
  box-shadow: 3px 5px 10px #ddd;
  border-radius: 15px;
  width: 100%;
  &__new {
    background-color: $tertiary-color;
    color: color.adjust($tertiary-color, $blackness: 100%);
    padding: 9px 15px;
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: calc($fs1 * 0.9);
    border-radius: 3px;
    & figure {
      overflow: hidden;
    }
  }
  &__image {
    width: 100%;
    height: 215px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    &_1 {
      object-position: center 100%;
    }
    &_2 {
      object-position: center 61%;
    }
    &_3 {
      object-position: center 100%;
    }
    &_4 {
      object-position: center 100%;
    }
  }
  &__title {
    padding-bottom: 5px;
    font-size: calc($fs1 * 1.1);
  }
  &__text {
    @include flex();
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 10px 30px 15px 15px;
    & *:not(.restaurant-card__title) {
      color: #666;
      /*FIXME utilisation not() ok (specificité)?*/
      /*FIXME not() ne fonctionne pas?*/
    }
    &-icon {
      font-size: calc($fs1 * 1.5);
      margin-top: 2px;
    }
  }
}

.footer {
  background-color: $quaternary-color;
  color: white;
  padding: 20px 20px 40px;
  font-weight: $light;
  &__title {
    font-family: $font-family-cursive;
    padding: 8px 0 20px;
    font-size: calc($fs1 * 1.1);
    font-weight: normal; /*FIXME pourquoi il est en gras par défaut?*/
  }
  & li {
    padding-bottom: 8px;
  }
  &__link {
    @include flex();
    gap: 10px;
    &-icon {
      width: 25px;
    }
  }
}
