@use '../utils/variables' as *;

@use 'sass:color';

.btn {
  box-shadow: 3px 5px 10px #ddd;
  border-radius: 25px;
  background-color: color.scale($quaternary-color, $lightness: 97%);
  border: none;
  cursor: pointer;
}
