@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.container {
  margin-top: 85px;
  @include fadingSlideFromBottom(4, 5);
  @include fadingSlideFromBottom(4, 5, 3.6);
}

.restaurant-container > .menu {
  @include fadingSlideFromBottom(8, 5);
}

@media only screen and (min-width: $desktop-breakpoint) {
  .container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
}
