@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../base/images' as *;
@use '../base/base' as *;
@use '../base/typography' as *;
@use '../base/helpers' as *;
@use '../components/restaurant-card' as *;

@use 'sass:color';

.restaurant-header {
  padding: 30px 0 10px;
  &__logo {
    margin: auto;
    @include flex($justify-content: center);
    width: 200px;
    & img {
      width: 100%;
    }
    &-icon {
      font-size: $fs1 * 1.4;
      position: absolute;
      left: 20px;
      top: 20px;
      padding: 15px;
      cursor: pointer;
    }
  }
  &__image {
    width: 100%;
    height: 350px;
    margin-top: 15px;
    background-size: 110%;
    background-position: -25px 0;

    &_1 {
      background-image: $restaurant-header-image1;
    }
    &_2 {
      background-image: $restaurant-header-image2;
      background-position: center;
    }
    &_3 {
      background-image: $restaurant-header-image3;
    }
    &_4 {
      background-image: $restaurant-header-image4;
    }
  }
}

.restaurant-container {
  position: relative;
  margin-top: -50px;
  border-radius: 50px 50px 0 0;
  background-color: color.scale($quaternary-color, $lightness: 95%);
}

.restaurant__like {
  cursor: pointer;
  color: #666;
  font-size: $fs1 * 1.8;
  position: relative;
  z-index: 1;
  &_active {
    // background-image: linear-gradient(
    //   165deg,
    //   $secondary-color,
    //   $primary-color
    // );
    // background-clip: text;
    // -webkit-background-clip: text;
    // color: transparent;
    color: $primary-color;
    font-size: $fs1 * 1.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 15px;
    z-index: 1;
    opacity: 0;
    transition: opacity 250ms;
  }
  &-btn:checked + label {
    .restaurant__like_active {
      opacity: 1;
    }
  }
  &-label {
    position: absolute;
    top: 35px;
    right: 50px;
  }
}

.menu {
  width: 100%;
  @include flex($direction: column);
  padding: 40px 30px 0;
  gap: 20px;
  padding-bottom: 80px;
  &-title {
    @include flex($justify-content: space-between);
    width: 100%;
    margin-bottom: 5px;
  }
  &__title {
    font-family: $font-family-cursive;
    font-size: $fs1 * 1.8;
    font-weight: normal;
  }
  &-section {
    @include flex($direction: column);
    gap: 18px;
    width: 100%;
    margin-bottom: 15px;
    & h2 {
      align-self: start;
      padding-bottom: 10px;
      position: relative;
      font-weight: $light;
      margin-top: 15px;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 47px;
        border-bottom: 4px solid $tertiary-color;
      }
    }
    &-card {
      padding: 15px 25px 15px 12px;
      font-weight: $light;
      &__title {
        font-size: $fs1 * 1.19;
      }
      &__text {
        @include flex($justify-content: space-between);
        padding: 5px 0 0;
        font-size: $fs1 * 0.95;
      }
      &__price {
        font-weight: $normal;
      }
    }
  }
}

//---------------------------------------------------------

.menu-section-card {
  @include flex($justify-content: space-between);
  height: 84px;
  overflow: hidden;
  padding: 0 0 0 12px;
  cursor: pointer;
  transition: transform 0.1s ease-out;
  &:active {
    transform: scale(0.98);
    box-shadow: 2px 3px 5px #ddd;
  }

  &__text {
    width: calc(100% - 95px);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15px;
    gap: 8px;
    align-items: start;
    transition: width 600ms cubic-bezier(0.49, 0.18, 0.23, 1);
  }
  &__title,
  &__subtitle {
    @include txt-ellipsis();
  }
  &__subtitle {
    font-size: 17.1px;
  }
  &__check {
    @include flex();
    background-color: green;
    width: 90px;
    height: 100%;
    position: relative;
    transform: translateX(95px);
    transition: transform 600ms cubic-bezier(0.49, 0.18, 0.23, 1);
    animation: check-bounce-reverse 0.2s ease-out;
    &-icon {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      background-color: white;
      position: absolute;
      @include flex();
      margin-right: 20px;
      color: green;
      transition: transform 600ms cubic-bezier(0.49, 0.18, 0.23, 1);
      transform: rotate(-360deg);
    }
  }
  &__price {
    align-self: flex-end;
    margin-right: 150px;
    padding-bottom: 9px;
    padding-top: 50px;
    padding-right: 40px;
    font-weight: $bold;
    animation: price-bounce-reverse 0.8s ease-out;
  }

  &:hover &__text {
    width: calc(100% - 95px);
  }

  &:hover &__check {
    animation: check-bounce 0.75s ease-in-out;
    animation-fill-mode: forwards;
    & > .menu-section-card__check-icon {
      transform: rotate(0deg);
    }
  }
  &:hover &__price {
    animation: price-bounce 0.75s ease-out;
    animation-fill-mode: forwards;
  }
  input[type='checkbox']:checked ~ * {
    // animation: none;
    // transform: translateX(20px);
  }

  // &:checked ~ .menu-section-card__text {
  //   width: calc(100% - 95px);
  // }
}

input[type='checkbox'] {
  display: none;
  &:checked ~ .menu-section-card__check {
    transform: translateX(20px);
    animation: none;
    & > .menu-section-card__check-icon {
      //FIXME icone bouge si transform: none
      transform: rotate(0deg);
      // transform: none;
    }
    & > .menu-section-card__price {
      transform: translateX(20px);
      animation: none;
    }
  }
  // &:checked ~ .menu-section-card__text {
  //   width: calc(100% - 95px);
  // }
}

@keyframes check-bounce {
  60% {
    transform: translateX(15px);
  }
  80% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes check-bounce-reverse {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(95px);
  }
}

@keyframes price-bounce {
  40% {
    transform: translateX(15px);
  }
  75% {
    transform: translateX(0px);
  }
  95% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes price-bounce-reverse {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-5px);
  }
  55% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(0);
  }
}

// -----------------------------------------------------------------//
// -------------------------- DESKTOP ------------------------------//
// -----------------------------------------------------------------//

@media only screen and (min-width: $desktop-breakpoint) {
  .restaurant-header {
    background-color: transparent;
    box-shadow: none;
    position: initial;
    padding: 0;
    &__image {
      margin-top: 0;
      height: 400px;
    }
    &__logo {
      position: absolute;
      top: 40px;
      left: 40px;
      width: 250px;
      background-color: white;
      padding: 13px 38px 10px 60px;
      border-radius: 25px;
      &-icon {
        font-size: $fs1 * 1.1;
        z-index: 1;
        position: absolute;
        left: 49px;
        top: 42px;
        padding: 15px;
        cursor: pointer;
      }
    }
  }

  .restaurant-container {
    max-width: 1440px;
    margin: -120px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
  }

  .restaurant__like-label {
    position: absolute;
    top: 35px;
    right: 50px;
    :hover {
      .restaurant__like_active {
        opacity: 1;
      }
    }
  }

  .menu {
    position: relative;
    gap: 30px;
    &-title {
      margin-top: 3%;
      justify-content: center;
    }
    &__title {
      font-size: $fs1 * 2.4;
    }
    &-section {
      gap: 40px;
      width: 90%;
      & h2 {
        margin: 40px auto 0px;
        font-size: $fs1 * 1.2;
        &:after {
          width: 100%;
        }
      }
      &-card {
        clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 0;
        margin: 0 -70px 0 -70px;
        &__text {
          padding-top: 0;
          padding-left: 110px;
          gap: 6px;
        }
        &__title {
          font-family: $font-family-cursive;
          font-weight: normal;
        }
        &__subtitle {
          padding-left: 25px;
        }
        &__price {
          padding-bottom: 17px;
        }
      }
    }
  }

  //   .footer {
  //     width: 100%;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     padding-bottom: 20px;
  //     &__title {
  //       margin-bottom: 10px;
  //     }
  //     &__nav {
  //       width: 30%;
  //       & ul {
  //         width: 100%;
  //         display: flex;
  //         flex-direction: row;
  //         flex-wrap: wrap;
  //         align-items: center;
  //         justify-content: space-between;
  //         gap: 15px;
  //         & li:nth-child(1) {
  //           width: 50%;
  //         }
  //         & li:nth-child(3),
  //         li:nth-child(4) {
  //           width: 100%;
  //           text-align: center;
  //         }
  //       }
  //     }
  //   }
}
